.title {
    text-align: center;
}

.search-form {
    text-align: center;
    margin: 15px;
}

.weather-icon {
    align-self: center;
    text-align: center;
    font-size: 125px;
}

.nailong {
    align-self: center;
    text-align: center;
    width: 125px;
    height: 125px;
}

.forecast-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.forecast-item {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: bisque;
}