.title {
    text-align: center;
}

.search-form {
    text-align: center;
    margin: 15px;
}

.forecast-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.forecast-item {
    border: 1px solid black;
    background-color: bisque;
}